extends ./layout_home.pug
block content
    .container
        .row 
            .col-0.col-sm-0.col-lg-3
                include ../partials/layoutcategory.pug

            .col-12.col-sm-12.col-lg-9
                block category