.header{
    font-size: $text-size-min;
    color: $color-text-white;
    &__top{
        background-color: #333;
        .header-info{
            height: 30px;
            @include displayFlex(flex-start,center);
            ul {
                padding: 0;
                margin: 0;
                &:nth-child(3){
                    margin-left: auto;
                }
                &:nth-child(2){
                    li {
                        border-right: 1px solid rgba($color:$color-text-white, $alpha: .3);
                        &:nth-child(4){
                            border: none;
                    }
                }
            }
            li {
                list-style: none;
                display: inline-block;
                padding: 0 1rem;
                a{
                    text-decoration: none;
                    color: $color-text-white;
                    i{
                        color: $color-text-white;
                        margin-right: .4rem;
                    }
                }
            }
        }
       }
    }
    .header__center{
        @include w-h(100%,10rem);
        background-color:#eeece2;
        .header-greenshop{
            height: 100%;
            @include displayFlex(space-between,center);
            .greenshop__left{
                height: 100%;
                margin-right: 2rem;
                @include displayFlex(space-between,center);
                &-title{
                    display: inline-block;
                    color: seagreen;
                    margin-right: 2rem;
                    h1{
                        font-size: $text-size-biger;
                    }
                    h3{
                        font-size: $text-size-min;
                        color: gray;
                    }
                }
                &-img {
                    height: 100%;
                    img{
                        @include w-h(15rem,100%)
                    }
                }
            }
            .greenshop__right{
                @include displayFlex(space-between,center);
                height:100%;
                .greenshop__search{
                    text-align: center;
                    h2{
                        font-size: $text-size-min;
                        margin-bottom: 1rem;
                        color: gray
                    }
                    .search__input {
                        @include w-h(20rem,2.5rem);
                        border-radius: 25px;
                        background-color: $color-text-white;
                        @include displayFlex(space-between,center);
                        padding: .2rem 1rem;
                        margin: 0;
                        input {
                            color: gray;
                            outline: none;
                            border: none;
                            background-color: transparent;
                            width: 90%;
                        }
                        i{
                            font-size: $text-size-normal;
                            color: gray;
                            opacity: .4;
                        }
                    }
                }
                .greenshop__cart{
                    margin-left: 2rem;
                    @include displayFlex(space-between,center);
                    opacity: .7;
                    i{
                        font-size: $text-size-big;
                        color: black;
                        margin-right: 1rem;
                    }
                    h1 {
                        font-size: $text-size-normal;
                        color: black;
                        margin: 0;
                    }
                }
            }
        }
    }
    .header__bottom{
        background-color: rgb(58, 202, 58);
        @include w-h(100%,3rem);
        .bottom__menu {
            height: 100%;
            @include displayFlex(flex-start,center);
            &-icon{
                a{
                    text-decoration: none;
                    color: $color-text-white;
                    i{
                        font-size: $text-size-big;
                    }
                }
            }
            &-list{
                margin-left: 1rem;
                ul{
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    li{
                        padding:0 1rem;
                        display: inline-block;
                        list-style: none;
                        line-height: 3rem;
                        a { 
                            text-decoration: none;
                            color: $color-text-white;
                            font-size: $text-size-min;
                            text-transform: uppercase;
                        }
                        &:hover{
                            background-color: rgb(133, 163, 87);
                        }
                    }
                }
            }
        }
    }
}